<!-- Menú desplegable -->
<nav id="menu" class="menu-overlay">
    <ul class="links">
        <br> <br> 
        <li><a href="/">¿Quien soy?</a></li>
        <li><a href="/PROYECTOS">Proyectos</a></li>
        <li><a href="/PALETA DE COLORES">Paleta de Colores</a></li>
    </ul>
</nav>


{{!-- <li><a href="/webservice">Aplicacion web</a></li>
        <li><a href="/portafolio">portafolio personal</a></li>
        <li><a href="/ajedrez">Ajedrez</a></li>
        <li><a href="/analizador">Analizador lexico</a></li>
        <li><a href="/di">Derecho Informatico</a></li>
        <li><a href="/HERAMIENTA-DE-CONTROL">Herramienta de control</a></li>
        <li><a href="/integrales">Calculadora de Integrales</a></li> --}}
