:root {
    --font: 'Oxygen', sans-serif;
    --primary: #42E2B8;
    --gradient: linear-gradient(135deg, #7b2cbf 0%, #6e2a91 30%, #3a0ca3 70%, #1d4ed8 100%);
    --black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Asegura que html y body ocupen el 100% de la altura de la ventana */
}

body {
    background: var(--gradient); /* Aplica el degradado como fondo */
    background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-attachment: fixed; /* Fija el fondo para que no se mueva con el scroll */
    font-family: var(--font);
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    position: absolute; /* Asegura que se superponga sobre otros contenidos */
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semi-transparente para el overlay */
}

.content-box {
    color: white;
    text-align: center; /* Centra el texto dentro del contenedor */
    padding: 20px;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro para el contenedor de contenido */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 80%; /* Ajusta el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.chess-image {
    max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Asegura que la imagen se muestre como un bloque para centrarla */
}

.description h1 {
    font-size: 24px;
    margin: 10px 0; /* Espacio arriba y abajo del título */
}

.description p {
    font-size: 16px;
    margin-bottom: 10px; /* Espacio abajo del párrafo */
}
.card-footer {
    display: flex;
    justify-content: center;
}

.card-footer button {
    background-color: var(--primary);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
}


