<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/lexico.CSS">
    <title>AJEDREZ</title>
</head>
<body>
    <div class="overlay">
        <div class="content-box">
            <img src="./images/ANALIZADOR LEXICO/ejecutado.png" alt="Imagen de ajedrez" class="chess-image">
            <div class="description">
                <br><br>
                <h1>Proyecto de Analizador Léxico y Sintáctico en Java</h1>
                <p>Este proyecto consiste en el desarrollo de un analizador léxico y sintáctico en Java, diseñado para procesar y analizar el código fuente de un lenguaje de programación específico. Utilizando técnicas avanzadas de análisis de lenguaje, el proyecto permite descomponer el código en tokens y verificar su estructura sintáctica para asegurar que siga las reglas gramaticales definidas.</p>
                <p>El analizador léxico se encarga de identificar y clasificar los elementos básicos del lenguaje, como palabras clave, identificadores, operadores y delimitadores. Cada uno de estos elementos es tokenizado y preparado para el análisis sintáctico. El analizador sintáctico, por su parte, valida la estructura del código fuente, asegurando que la secuencia de tokens siga una gramática predefinida, y detecta posibles errores de sintaxis.</p>
                <p>El proyecto se desarrolló en Apache NetBeans, lo que facilitó la escritura, depuración y gestión del código. Además, se utilizaron principios de programación orientada a objetos para crear un sistema modular y mantenible, permitiendo futuras extensiones o modificaciones al analizador.</p>
                <p>Este proyecto no solo demuestra habilidades en análisis de lenguajes formales, sino también en la implementación práctica de un compilador básico en Java.</p>
                </div>
            <a href="https://github.com/ajanels/proyecto-AJEDREZ">VER REPOSITORIO DEL PROYECTO</a>
            <BR><br>
            <div class="card-footer">
                <a href="/proyectos">
                    <button>regresar</button>
                </a>
            </div>
            
            </div>
            </div>
        </div>
    </div>
</body>
</html>
