<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/integral.css">
    <title>AJEDREZ</title>
</head>
<body>
   
    <div class="overlay">
        <div class="content-box">
            <br><br><br><br><br><br> <br><br><br><br><br><br> <br><br><br><br><br><br>
            <video width="100%" controls>
                <source src="./videos/PROYECYO SO.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="description">
                <br><br>
                <h1>Proyecto de Controlador de Procesos y Controlador de Memoria en C#</h1>
<p>Este proyecto consiste en el desarrollo de un controlador de procesos y un controlador de memoria en C#, diseñado para gestionar eficientemente la ejecución de procesos y la asignación de memoria en un entorno simulado. El controlador de procesos permite a los usuarios crear, gestionar y monitorear procesos, mientras que el controlador de memoria se encarga de la asignación y liberación de memoria para dichos procesos.</p>
<p>El diseño del sistema incluye un motor de planificación que emplea técnicas avanzadas de gestión de procesos, como algoritmos de planificación por prioridad, round-robin y FIFO, para optimizar la ejecución de procesos. Además, se incorporan estrategias de gestión de memoria como la paginación y la segmentación para asegurar una asignación eficiente y evitar problemas de fragmentación.</p>
<p>La interfaz de usuario es intuitiva y permite la fácil visualización y gestión de procesos y memoria, mostrando el estado de cada proceso y la distribución de la memoria de manera clara y precisa. El proyecto fue desarrollado utilizando Microsoft Visual Studio como el entorno de desarrollo integrado (IDE), lo que facilitó la escritura, depuración y gestión del código.</p>
<p>Este proyecto demuestra habilidades en el desarrollo de software de sistemas, así como en la implementación de algoritmos de gestión de procesos y memoria en C#.</p>

            </div>
            <a href="https://github.com/ajanels/proyecto-AJEDREZ">VER REPOSITORIO DEL PROYECTO</a>
            <BR><br>
            <div class="card-footer">
                <a href="/proyectos">
                    <button>regresar</button>
                </a>
            </div>
            
            </div>
            </div>
        </div>
    </div>
</body>
</html>
