<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/integral.css">
    <title>AJEDREZ</title>
</head>
<body>
    <div class="overlay">
        <div class="content-box">
            <img src="./images/CALULADORA DE INTEGRALES/Captura de pantalla 2024-08-16 083649.png" alt="Imagen de ajedrez" class="chess-image">
            <div class="description">
                <br><br>
                <h1>Proyecto de Calculadora de Integrales en Java</h1>
<p>Este proyecto consiste en el desarrollo de una calculadora de integrales en Java, diseñada para resolver integrales definidas e indefinidas de manera eficiente. La calculadora permite a los usuarios ingresar funciones matemáticas y obtener los resultados de la integración, tanto simbólica como numéricamente.</p>
<p>El diseño de la calculadora incluye un motor matemático que emplea técnicas avanzadas de análisis simbólico para resolver integrales de una amplia gama de funciones. Además, se incorporan métodos numéricos para calcular integrales cuando una solución analítica no es posible. La interfaz de usuario es intuitiva y permite la fácil introducción de expresiones matemáticas, mostrando los resultados de manera clara y precisa.</p>
<p>El proyecto fue desarrollado utilizando Apache NetBeans como el entorno de desarrollo integrado (IDE), lo que facilitó la escritura, depuración y gestión del código. La estructura del código se basa en principios de programación orientada a objetos, asegurando que el sistema sea modular, extensible y fácil de mantener.</p>
<p>Este proyecto demuestra habilidades en el desarrollo de software matemático avanzado, así como en la implementación de algoritmos de cálculo simbólico y numérico en Java.</p>
            </div>
            <a href="https://github.com/ajanels/proyecto-AJEDREZ">VER REPOSITORIO DEL PROYECTO</a>
            <BR><br>
            <div class="card-footer">
                <a href="/proyectos">
                    <button>regresar</button>
                </a>
            </div>
            
            </div>
            </div>
        </div>
    </div>
</body>
</html>
