<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="./css/estilos.css">
     <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

   {{>header}}
{{>navbar}}
    <div class="container">
        <br>
        <h1>Mis Proyectos</h1>
        <div class="card-footer">
            <a href="/">
                <button >regresar a pagina principal</button>
            </a>
        </div>
        <br>
        <div class="card-container">
            <div class="card" id="card0">
                <div class="card-header">
                    <img src="./images/web.png" alt="Jack Daniels">
                </div>
                <div class="card-body">
                    <h3>APLICACION WEB</h3>
                    <p> ejemplo básico de una aplicación web utilizando Node.js y Express, junto con Handlebars como motor de plantillas</p>
                </div>
                <div class="card-footer">
                    <a href="/webservice">
                        <button >Ver</button>
                    </a>
                </div>
            </div>
             <div class="card" id="card0.1">
                <div class="card-header">
                    <img src="./images/PORTAFOLIO.png" alt="Jack Daniels">
                </div>
                <div class="card-body">
                    <h3>PORTAFOLIO WEB</h3>
                    <P>Este portafolio web es una aplicación completa diseñada utilizando Node.js y Express, con el motor de plantillas Handlebars.</P>
                </div>
                <div class="card-footer">
                    <a href="/portafolio">
                        <button >Ver</button>
                    </a>
                </div>
            </div>
            <div class="card" id="card1">
                <div class="card-header">
                    <img src="./images/AJEDREZ/EJECUCION.png" alt="Jack Daniels">
                </div>
                <div class="card-body">
                    <h3>JUEGO DE AJEDREZ</h3>
                    <p>Desarrolo de un juego de ajedrez en java</p>
                </div>
                <div class="card-footer">
                    <a href="/ajedrez">
                        <button >Ver</button>
                    </a>
                </div>
            </div>
            <div class="card" id="card2">
                <div class="card-header">
                    <img src="./images/ANALIZADOR LEXICO/Captura de pantalla 2024-08-15 221622.png" alt="">
                </div>
                <div class="card-body">
                    <h3>ANALIZADOR LEXICO</h3>
                    <p>desarrollo de un analizador lexico y sintáctico </p>                </div>
                <div class="card-footer">
                    <a href="/analizador">
                        <button>Ver</button>
                    </a>
                </div>
            </div>
            <div class="card" id="card3">
                <div class="card-header">
                    <img src="./images/CALULADORA DE INTEGRALES/Captura de pantalla 2024-08-16 083649.png" alt="">
                </div>
                <div class="card-body">
                    <h3>CALCULADORA DE INTEGRALES</h3>
                    <p> Desarrollo de una calculadora de integrales definidas en java</p>
                </div>
                <div class="card-footer">
                    <a href="/integrales">        
                                    <button>VER</button>
                    </a>
                </div>
            </div>
            <div class="card" id="card5">
                <div class="card-header">
                    <img src="./images/PROCESOS/Captura de pantalla 2024-08-16 092113.png" alt="">
                </div>
                <div class="card-body">
                    <h3>CONTROLADOR DE PROCESOS</h3>
                    <p> controlador de procesos monitor de memorias realizado en c# </p>
                </div>
                <div class="card-footer">
                    <a href="/HERAMIENTA-DE-CONTROL">        
                        <button>VER</button>
                    </a>
                </div>
            </div>

            <div class="card" id="card4">
                <div class="card-header">
                    <img src="./images/derechi informatico/Captura de pantalla 2024-08-16 085642.png" alt="">
                </div>
                <div class="card-body">
                    <h3>VALIDACION DE CREDENCIALES</h3>
                    <p>Sistema realizado en c# implementando la validacion de credeenciales </p>
                </div>
                <div class="card-footer">
                    <a href="/di">        
                        <button>VER</button>
                    </a>
                </div>
            </div>

            <div class="card" id="card6">
                <div class="card-header">
                    <img src="./images/FIGMA.png" alt="">
                </div>
                <div class="card-body">
                    <h3>PROTOTIPO EN FIGMA</h3>
                    
                </div>
                <div class="card-footer">
                    <a href="https://www.figma.com/design/UnWMk8RmBw2QAKO9KUt6e1/Untitled?node-id=0-1&m=dev&t=2wS5JVWSu11Z359L-1">        
                        <button>VER</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

{{>footer}}
</body>
        <script src="./js/menu.js"></script>

</html>
